.animal-details {
    width: 500px;
    margin: 40px auto;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    .animal-name{
      font-size:30px;
      padding:10px;
    }
    .animal-description{
      padding:10px;
    }
}
