<html>

<head>
    <title>Animal Planet</title>
    <link rel="icon" type="image/png" href="favicon.png" sizes="32x32">

</head>

<body>

   <div ng-app="animals">
     <div ng-controller="AnimalsListController as vm">
      <div ng-repeat="animal in vm.animals"> {{animal.name}}</div>
     </div>
   </div>
</body>

</html>
