@import "animalsList/animals-list.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

body {
    background: #eee;
    margin: 0;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
}
